include README.md LICENSE pyrightconfig.json package.json package-lock.json
include src/flops_agent/py.typed
recursive-include docs *.md *.py *.html
recursive-include tests *.py
recursive-include scripts *.sh
